<footer id="footer">
    <span>Made by <a href="https://www.hzchu.top/">Thun888</a>.Version:<layout time time></layout></span>
</footer>
<style>
    body {
        --bg-light: url("/img/backgroud.webp");
        --bg-dark: url("/img/backgroud-dark.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    @media (prefers-color-scheme: light) {
        body {
            background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), var(--bg-light);
        }
    }
    
    @media (prefers-color-scheme: dark) {
        body {
            background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), var(--bg-dark);
        }
    }
    
    @font-face {
        font-family: Roboto;
        src: url(/fonts/roboto/Roboto-Medium.woff2) format('woff2')
    }
    
    .mdui-card-header-title {
        margin-left: 15px;
    }
    
    #footer {
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: rgba(97, 104, 90, 0.337);
        line-height: 2;
        z-index: 999;
        margin-top: 40px;
    }
</style>
</body>