<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>峰间云海</title>
    <link rel="stylesheet" href="/css/mdui.css">
    <script src="/js/mdui.js"></script>
    <script src="/js/jquery.min.js"></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>
        LA.init({
            id: "K7zTzBSVqAfJ71mY",
            ck: "K7zTzBSVqAfJ71mY"
        })
    </script>
</head>

<body class="mdui-theme-primary-blue-grey mdui-theme-accent-blue">