<div class="mdui-drawer mdui-drawer-close" id="sidebar">
    <div class="mdui-list" mdui-collapse="{accordion: true}">
        <a href="/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content">首页</div>
        </a>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">map</i>
                <div class="mdui-list-item-content">卫星地图</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/dynmap/">
                    <li class="mdui-list-item mdui-ripple">地图</li>
                </a>
                <a href="https://share.hzchu.top/MC/dynmap数据/">
                    <li class="mdui-list-item mdui-ripple">数据存档</li>
                </a>
            </ul>
        </div>
        <a href="/chatsearch/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">chat</i>
            <div class="mdui-list-item-content">聊天查询</div>
        </a>
        <!-- <a href="/bansearch/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">account_balance</i>
            <div class="mdui-list-item-content">封禁查询</div>
        </a> -->
        <a href="/photo/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">photo</i>
            <div class="mdui-list-item-content">相册</div>
        </a>
        <a href="/place/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">place</i>
            <div class="mdui-list-item-content">有用の坐标</div>
        </a>
        <a href="/list/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">format_list_numbered</i>
            <div class="mdui-list-item-content">排行榜</div>
        </a>
        <!-- <a href="/events/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">events</i>
            <div class="mdui-list-item-content">成就</div>
        </a> -->
        <a href="https://blog.hzchu.top/wiki/fcloud/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">help</i>
            <div class="mdui-list-item-content">帮助</div>
        </a>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">more_horiz</i>
                <div class="mdui-list-item-content">更多</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/admin/">
                    <li class="mdui-list-item mdui-ripple">管理</li>
                </a>
                <a href="/status/">
                    <li class="mdui-list-item mdui-ripple">服务器状态</li>
                </a>
            </ul>

        </div>
        <a href="https://blog.hzchu.top/wiki/fcloud/about/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
            <div class="mdui-list-item-content">关于</div>
        </a>
        <a href="/fb/" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">feedback</i>
            <div class="mdui-list-item-content">反馈</div>
        </a>
        <a href="https://jq.qq.com/?_wv=1027&k=erVXhRym" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">group</i>
            <div class="mdui-list-item-content">QQ群入口</div>
        </a>
    </div>
</div>