<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <!-- 到此 -->
            <layout html artalk>

                <div class="mdui-container">
                    <div class="mdui-card">
                        <div class="mdui-card-header">
                            <div class="mdui-card-header-title" id="item">
                                <h3><i class="mdui-icon material-icons mdui-list-item-icon">golf_course</i>
                                    <a href="#">Token</a></h3>
                            </div>
                        </div>
                        <div class="mdui-card-content">
                            <div style="margin: -10px 0px 0px 0px;" class="mdui-textfield">
                                <label class="mdui-textfield-label">Token</label>
                                <input class="mdui-textfield-input" type="text" id="token" />
                            </div>
                        </div>
                        <div class="mdui-card-actions mdui-float-right">
                            <button id="token-enter" class="mdui-btn mdui-ripple">Enter</button>
                        </div>
                    </div>
                    <div id="fuction">
                        <div class="mdui-card">
                            <div class="mdui-card-header">
                                <div class="mdui-card-header-title" id="item">
                                    <h3><i class="mdui-icon material-icons mdui-list-item-icon">account_balance</i>
                                        <a href="#">封禁</a></h3>
                                </div>
                            </div>
                            <div class="mdui-card-content">
                                <p id="status" style="margin: -10px 0px 0px 0px;"></p>
                            </div>
                        </div>

                        <div class="mdui-card">
                            <div class="mdui-card-header">
                                <div class="mdui-card-header-title" id="item">
                                    <h3><i class="mdui-icon material-icons mdui-list-item-icon">notifications_none</i>
                                        <a href="#">公告</a></h3>
                                </div>
                            </div>
                            <div class="mdui-card-content">
                                <p id="status" style="margin: -10px 0px 0px 0px;"></p>
                            </div>
                        </div>

                    </div>
                    <div id="wtf" style="display: none;">
                        <div class="mdui-card">
                            <div class="mdui-card-header">
                                <div class="mdui-card-header-title" id="item">
                                    <h3><i class="mdui-icon material-icons mdui-list-item-icon">flare</i>
                                        <a href="#">这是什么</a></h3>
                                </div>
                            </div>
                            <div class="mdui-card-content">
                                <p style="margin: -10px 0px 0px 0px;">这是一个管理页面，需要相应token才可以食用</p>
                                <p>对于管理员，需要私信Bot获取token</p>
                            </div>
                        </div>
                    </div>
                    <script src="/js/pages/admin.js"></script>
                </div>
                <link rel="stylesheet" href="/css/admin.css">
                <!-- 到此 -->
                <layout html footer>