<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <!-- 到此 -->
            <div class="mdui-container">
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat</i>
                        <div class="mdui-card-header-title">聊天查询</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>MID</th>
                                        <th>时间</th>
                                        <th>玩家名称</th>
                                        <th>消息</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                const scoreboardUrl = 'https://homeip.hzchu.top:5001/user/msg';
                const scoreboardBody = document.getElementById('scoreboard-body');

                fetch(scoreboardUrl)
                    .then(response => response.json())
                    .then(scoreboard => {
                        scoreboard.forEach((player, index) => {
                            const row = document.createElement('tr');
                            const mid = document.createElement('td');
                            const msgtime = document.createElement('td');
                            const playerName = document.createElement('td');
                            const msg = document.createElement('td');

                            mid.textContent = player.id;
                            msgtime.textContent = player.time;
                            playerName.textContent = player.playername;
                            msg.textContent = player.msg;

                            row.appendChild(mid);
                            row.appendChild(msgtime);
                            row.appendChild(playerName);
                            row.appendChild(msg);

                            scoreboardBody.appendChild(row);
                        });
                    });
            </script>
            <style>
                .mdui-card {
                    width: 90%;
                    margin: 30px auto 0 auto;
                    border-radius: 10px;
                }
                
                .mdui-card-header {
                    display: flex;
                    align-items: center;
                }
                
                table {
                    border-radius: 10px;
                }
            </style>
            </div>
            <layout html footer>