<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <!-- 到此 -->
            <layout html artalk>

                <div class="mdui-container">
                    <div class="mdui-card">
                        <div class="mdui-card-header" id="logoheader">
                            <img src="/img/logo.jpg" alt="logo" class="mdui-card-header-icon mdui-icon material-icons" id="logo">
                            <div class="mdui-card-header-title" id="logotext">
                                <h2>峰间云海</h2>
                                <p>一个纯生存服务器</p>
                            </div>
                        </div>
                        <div class="mdui-card-content">
                            <!-- <div class="mdui-table-fluid">
                                        <table class="mdui-table mdui-table-hoverable">
                                            <thead>
                                                <tr>
                                                    <th>排名</th>
                                                    <th>玩家名称</th>
                                                    <th>采矿总量</th>
                                                </tr>
                                            </thead>
                                            <tbody id="scoreboard-body">
                                            </tbody>
                                        </table>
                                    </div> -->
                        </div>
                    </div>
                    <div class="mdui-card">
                        <div class="mdui-card-header">
                            <div class="mdui-card-header-title" id="item">
                                <h3><i class="mdui-icon material-icons mdui-list-item-icon">notifications_none</i>
                                    <a href="/?mode=admin">公告</a></h3>
                            </div>
                        </div>
                        <div class="mdui-card-content">
                            <div id="Comments"></div>

                        </div>
                    </div>
                </div>
                <script>
                    Artalk.init({
                            el: '#Comments', // 绑定元素的 Selector
                            pageKey: '/', // 固定链接 (留空自动获取)
                            pageTitle: '', // 页面标题 (留空自动获取)
                            server: 'https://artalk.hzchu.top', // 后端地址
                            site: 'mcweb', // 你的站点名
                            voteDown: 'true',
                            //占位符
                        })
                        // 获取URL参数
                    const urlParams = new URLSearchParams(window.location.search);
                    const isAdminMode = urlParams.get('mode') === 'admin';

                    // 根据URL参数隐藏/显示元素
                    if (!isAdminMode) {
                        document.querySelector('.atk-main-editor').style.display = 'none';
                        document.querySelector('.atk-list-header').style.display = 'none';
                        document.querySelector('.atk-list-footer').style.display = 'none';
                    }

                    document.getElementById("titletext").innerHTML = "峰间云海|首页";
                </script>
                <style>
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    
                    .mdui-card {
                        width: 90%;
                        margin: 50px auto 0 auto;
                        border-radius: 10px;
                    }
                    
                    #logoheader {
                        display: flex;
                        height: 100px;
                        align-items: center;
                    }
                    
                    table {
                        border-radius: 10px;
                    }
                    
                    #logotext {
                        margin: 30px 30% 10px;
                    }
                    
                    #item {
                        margin: -10px 0px 0px -5px;
                    }
                    
                    @media (max-width: 680px) {
                        #logotext {
                            margin: 30px 20% 10px;
                        }
                    }
                    
                    @media (max-width: 450px) {
                        #logotext {
                            margin: 30px 10% 10px;
                        }
                    }
                    
                    @media (max-width: 360px) {
                        #logotext {
                            display: none;
                        }
                    }
                    
                    #logo {
                        width: 104px;
                        margin: auto 0 0 0;
                    }
                </style>
                </div>
                <!-- 到此 -->
                <layout html footer>