<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <!-- 到此 -->

            <div class="mdui-container">
                <div class="content">

                </div>
            </div>

            <!-- 到此 -->
            <layout html footer>