<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <div class="mdui-container">
                <div class="content">

                </div>
            </div>
            <layout html footer>