<layout html head>
    <layout html 侧边栏>
        <layout html 顶栏>
            <!-- 到此 -->
            <div class="mdui-container">
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <img src="/img/diamond_pickaxe.png" class="mdui-card-header-icon mdui-icon material-icons" style="font-size: 30px;">
                        <div class="mdui-card-header-title">采矿量</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>玩家名称</th>
                                        <th>采矿总量</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body-pickaxe">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <img src="/img/magma_cream.png" class="mdui-card-header-icon mdui-icon material-icons" style="font-size: 30px;">
                        <div class="mdui-card-header-title">XP</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>玩家名称</th>
                                        <th>等级</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body-xp">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <img src="/img/diamond_sword.png" alt="Ranking Image" class="mdui-card-header-icon mdui-icon material-icons" style="font-size: 30px;">
                        <div class="mdui-card-header-title">杀怪数</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>玩家名称</th>
                                        <th>杀怪数</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body-kills">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <img src="/img/tropical_fish.png" class="mdui-card-header-icon mdui-icon material-icons" style="font-size: 30px;">
                        <div class="mdui-card-header-title">钓鱼数</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>玩家名称</th>
                                        <th>钓鱼数</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body-fish">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mdui-card">
                    <div class="mdui-card-header">
                        <img src="/img/clock_05.png" class="mdui-card-header-icon mdui-icon material-icons" style="font-size: 30px;">
                        <div class="mdui-card-header-title">游戏时间</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>玩家名称</th>
                                        <th>游戏时间</th>
                                    </tr>
                                </thead>
                                <tbody id="scoreboard-body-gametime">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/js/pages/list.js"></script>
            <style>
                .mdui-card {
                    width: 90%;
                    margin: 30px auto 0 auto;
                    border-radius: 10px;
                }
                
                .mdui-card-header {
                    display: flex;
                    align-items: center;
                }
                
                table {
                    border-radius: 10px;
                }
            </style>
            </div>
            <layout html footer>