<layout html head>
    <link href="https://cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <layout html 侧边栏>
        <layout html 顶栏>
            <div class="mdui-container">

                <div class="card">
                    <a href="./?mode=admin">
                        <p>在群中@Bot并带上图片就可以显示在这里了~<br>快来展示你的得意之作吧🕊️<br>注意：请不要上传与<strong>MINECRAFT,本服务器无关</strong>的图片。</p>
                    </a>
                </div>
                <div class="mdui-card">

                    <div class="gallery-section">
                        <div class="inner-width">
                            <div class="gallery">
                            </div>
                        </div>
                    </div>
                    <div class="mdui-row">
                        <div class="mdui-col-xs-6">
                            <button class="mdui-btn mdui-btn-raised mdui-ripple" id="previous">上一页</button>
                        </div>
                        <div class="mdui-col-xs-6 mdui-text-right">
                            <button class="mdui-btn mdui-btn-raised mdui-ripple" id="next">下一页</button>
                        </div>
                    </div>
                </div>


            </div>

            <script>
                $('.gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                    image: {
                        titleSrc: 'title' // 显示链接的title属性作为图片名称
                    }
                })
                document.getElementById("titletext").innerHTML = "峰间云海|相册";


                // 获取URL中的查询参数
                const urlParams = new URLSearchParams(window.location.search);

                // 检查是否存在参数num
                const num = urlParams.has('num') ? parseInt(urlParams.get('num')) : 0;
                if (num == 0) {
                    document.getElementById('previous').disabled = true;
                }
                fetch('https://mcweb-api.hzchu.top/user/photo?num=' + num)
                    .then(response => response.json())
                    .then(data => {
                        // 处理返回的数据
                        const galleryDiv = document.querySelector('.gallery');
                        var count = data.length
                        console.log(count)
                        if (!count) {
                            document.getElementById('next').disabled = true;
                            mdui.snackbar({
                                message: '看完了😢'
                            });
                            return
                        }
                        if (count < 24) {
                            document.getElementById('next').disabled = true;
                            mdui.snackbar({
                                message: '最后一页了😶‍🌫️'
                            });
                        }
                        data.forEach(item => {
                            const {
                                author,
                                nickname,
                                id,
                                time,
                                url
                            } = item;
                            const title = `${id}_${nickname}_${author}_${time}`;

                            const aElement = document.createElement('a');
                            aElement.href = url;
                            aElement.className = 'image';
                            aElement.title = title;

                            const imgElement = document.createElement('img');
                            imgElement.src = url;
                            imgElement.alt = '';

                            aElement.appendChild(imgElement);
                            galleryDiv.appendChild(aElement);
                        });
                    })
                    .catch(error => {
                        mdui.snackbar({
                            message: '发生错误:' + error
                        });
                        //console.error('发生错误:', error);
                    });

                // 获取上一页和下一页按钮的引用
                const previousButton = document.getElementById('previous');
                const nextButton = document.getElementById('next');

                // 监听上一页按钮的点击事件
                previousButton.addEventListener('click', function() {
                    // 减去24
                    num_next = num - 24;

                    // 如果结果小于0，赋值为0
                    if (num_next < 0) {
                        num_next = 0;
                    }

                    // 更新页面参数num的值
                    updateUrlParameter('num', num_next);

                    // 刷新页面
                    window.location.reload();
                });

                // 监听下一页按钮的点击事件
                nextButton.addEventListener('click', function() {
                    num_next = num + 24;

                    // 更新页面参数num的值
                    updateUrlParameter('num', num_next);

                    // 刷新页面
                    window.location.reload();
                });

                // 获取URL中指定参数的值
                function getParameterByName(name) {
                    const url = window.location.href;
                    name = name.replace(/[\[\]]/g, '\\$&');
                    const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
                    const results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, ' '));
                }

                // 更新URL中指定参数的值
                function updateUrlParameter(key, value) {
                    const baseUrl = [location.protocol, '//', location.host, location.pathname].join('');
                    const urlQueryString = document.location.search;
                    const newParam = key + '=' + value;
                    let params = '?' + newParam;

                    // 如果URL中已经包含指定参数，则替换它的值
                    if (urlQueryString) {
                        const keyRegex = new RegExp('([?&])' + key + '[^&]*');
                        if (urlQueryString.match(keyRegex) !== null) {
                            params = urlQueryString.replace(keyRegex, '$1' + newParam);
                        } else {
                            params = urlQueryString + '&' + newParam;
                        }
                    }

                    // 更新URL
                    window.history.replaceState({}, '', baseUrl + params);
                }
            </script>
            <style>
                .gallery-section {
                    width: 100%;
                }
                
                .inner-width {
                    width: 100%;
                    max-width: 1200px;
                    margin: auto;
                }
                
                .gallery-section h1 {
                    text-align: center;
                    text-transform: uppercase;
                    color: #333;
                }
                
                .gallery-section .gallery {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 10px;
                }
                
                .gallery-section .image {
                    flex: 25%;
                    overflow: hidden;
                    cursor: pointer;
                }
                
                .gallery-section .image img {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                }
                
                .gallery-section .image:hover img {
                    transform: scale(1.4) rotate(15deg);
                }
                
                @media screen and (max-width: 960px) {
                    .gallery-section .image {
                        flex: 33.33%;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    .gallery-section .image {
                        flex: 50%;
                    }
                }
                
                @media screen and (max-width: 480px) {
                    .gallery-section .image {
                        flex: 100%;
                    }
                }
                
                .mdui-card {
                    width: 100%;
                    margin: 30px auto 0 auto;
                    border-radius: 10px;
                }
                
                .card {
                    margin: 30px auto 0 auto;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    padding: 20px;
                    /* width: 85%; */
                }
                
                .card p {
                    font-size: 14px;
                    line-height: 1.5;
                    margin: 0;
                }
                
                .card a {
                    text-decoration: none;
                    color: inherit;
                }
                
                .mdui-row {
                    padding: 2%;
                }
            </style>
            <layout html footer>