<layout html head>
    <link href="https://cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <layout html 侧边栏>
        <layout html 顶栏>
            <div class="card">
                <a href="./?mode=admin">
                    <p>在群中@bot并带上图片就可以显示在这里了~<br>快来展示你的得意之作吧🕊️</p>
                </a>
            </div>
            <div class="gallery-section">
                <div class="inner-width">
                    <div class="gallery">
                    </div>
                </div>
            </div>
            <script>
                $('.gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                    image: {
                        titleSrc: 'title' // 显示链接的title属性作为图片名称
                    }
                })
                document.getElementById("titletext").innerHTML = "峰间云海|相册";

                fetch('https://mcweb-api.hzchu.top/user/photo?num=0')
                    .then(response => response.json())
                    .then(data => {
                        // 处理返回的数据
                        const galleryDiv = document.querySelector('.gallery');
                        data.forEach(item => {
                            const {
                                author,
                                id,
                                time,
                                url
                            } = item;
                            const title = `${id}_${author}_${time}`;

                            const aElement = document.createElement('a');
                            aElement.href = url;
                            aElement.className = 'image';
                            aElement.title = title;

                            const imgElement = document.createElement('img');
                            imgElement.src = url;
                            imgElement.alt = '';

                            aElement.appendChild(imgElement);
                            galleryDiv.appendChild(aElement);
                        });
                    })
                    .catch(error => {
                        console.error('发生错误:', error);
                    });
            </script>
            <style>
                .gallery-section {
                    width: 100%;
                    padding: 60px 0;
                }
                
                .inner-width {
                    width: 100%;
                    max-width: 1200px;
                    margin: auto;
                    padding: 0 20px;
                }
                
                .gallery-section h1 {
                    text-align: center;
                    text-transform: uppercase;
                    color: #333;
                }
                
                .gallery-section .gallery {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                
                .gallery-section .image {
                    flex: 25%;
                    overflow: hidden;
                    cursor: pointer;
                }
                
                .gallery-section .image img {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                }
                
                .gallery-section .image:hover img {
                    transform: scale(1.4) rotate(15deg);
                }
                
                @media screen and (max-width: 960px) {
                    .gallery-section .image {
                        flex: 33.33%;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    .gallery-section .image {
                        flex: 50%;
                    }
                }
                
                @media screen and (max-width: 480px) {
                    .gallery-section .image {
                        flex: 100%;
                    }
                }
                
                .card {
                    margin: 30px auto 0 auto;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    padding: 20px;
                    width: 85%;
                }
                
                .card p {
                    font-size: 14px;
                    line-height: 1.5;
                    margin: 0;
                }
                
                .card a {
                    text-decoration: none;
                    color: inherit;
                }
            </style>
            <layout html footer>